@tailwind base;
@tailwind components;
@tailwind utilities;

/* Highlighted tile */
.highlight-date {
  background-color: #ffb347 !important;
  color: white !important;
  border-radius: 6px;
}

/* Theme-based calendar container overrides */
.-calendar {
  background-color: #1f1f1f;
  color: white;
}

.-calendar abbr {
  color: white !important;
}

.light-calendar {
  background-color: white;
  color: black;
}

.scopiklogo {
  width: 40%;
  height: 30%;
}



/* In your global CSS file */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}